/* my custom base */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: normal;
}