@media (max-width: 840px) {
  body {
    padding: 0 10px;;
  }
  #main h2 {
    float: none;
    width: auto;
  }
  .container {
    width: auto;
  }
  #main ul {
    float: none;
    width: auto;
  }
  #main ul li {
    list-style: none;
  }
  .item-kv label,
  .item-kv span {
    float: none;
  }
  .item-kv span {
    margin-left: 10px;
  }
}